<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

	<Appenders>
		<RollingFile name="FILE" fileName="${env:MYHOME}/logs/my-home-batch.log"
			filePattern="$${env:MYHOME}/logs/my-home-batch.%d{yyyy-MM-dd}-%i.log" append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5p | (%F:%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5p | (%F:%L) - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="my.home.logger" level="info" />
		<Logger name="org.hibernate" level="info" />
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="FILE" />
		</Root>
	</Loggers>

</Configuration>